*~
*#
*.csv
*.idea*
*.txt
~$*
__pycache__
*.swp
build/contracts/*.json
node_modules/
*npm-debug.log
lite-server.log

#truffle.js
#testnet.json
#src/testnet.json
#unit-tests/v1/config/config.json
7nodes/qdata
/solc-local/all.sol
/solc-local/sgdz_compiled
/solc-local/zAddress
api/node_modules/
api/.node-xmlhttprequest*
*DS_Store
start.sh
.node*
